/* FONT-FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* TAILWIND CSS */
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #161616;
  --color-secondary: #FA5424;
  --color-bgPrimary: #FAF4EC;
  --color-bgSecondary: #EAE4D8;
  --color-pink: #FCB8FA;
}

/* BASIC STYLES */
body {
  @apply bg-bgPrimary font-sans
}

/* Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Text selection style */
::selection {
  background: #000;   /* black */
  color: #fff;        /* white */
}

.experties-wrapper {
  @apply md:max-h-12.5! md:min-h-[55vh] lg:max-h-17.5! xl:min-h-[75vh]! 2xl:min-h-[80vh]!
}

.btnWrapper {
  @apply xl:py-[0.3em]
}