/* FONT-FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* TAILWIND CSS */
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-primary: #161616;
  --color-secondary: #FA5424;
  --color-bgPrimary: #FAF4EC;
  --color-bgSecondary: #EAE4D8;
}

/* BASIC STYLES */
body {
  @apply bg-bgPrimary font-sans
}

