/** NAVBAR LINK */
:root {
  --elastic-ease-out: linear(
    0, 0.5737 7.6%, 0.8382 11.87%, 0.9463 14.19%,
    1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%,
    1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%,
    1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%,
    1.0219 42.57%, 0.9995 46.99%, 0.9872 51.63%,
    0.9842 58.77%, 1.0011 81.26%, 1
  );

  --smooth-ease: cubic-bezier(0.32, 0.72, 0, 1);
  --color-ease: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* LINK ROOT */
.navLinkRoot {
  position: relative;
  display: inline-grid;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: -0.02em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* BACKGROUND WRAPPER */
.navLinkBg {
  grid-area: 1 / 1;
  display: grid;
  border-radius: 0.5em;
  overflow: clip;
  transition:
    scale 0.45s var(--smooth-ease),
    background-color 0.2s var(--color-ease);
}

/* BACKGROUND LAYERS */
.navLinkLayer {
  grid-area: 1 / 1;
  display: block;
  width: 120%;
  min-height: 100%;
  transform-origin: 100% 0;
  translate: -10% 100% 0;
  rotate: 0 0 1 -12deg;
  transition:
    translate 0.6s var(--smooth-ease),
    rotate 0.5s var(--smooth-ease);

  transition-delay: calc((var(--index) * -1) * 0.042s);
}

/* COLORS */
.navLinkLayer--orange {
  background-color: #FA5424;
}

.navLinkLayer--black {
  background-color: #161616;
}

/* HOVER IN */
.navLinkRoot:hover .navLinkLayer {
  translate: 0 0 0;
  rotate: 0 0 1 0deg;
}

/* TEXT WRAPPER */
.navLinkTextWrap {
  grid-area: 1 / 1;
  z-index: 1;
  display: grid;
  overflow: clip;
  padding: 0.5em 0.75em;
}

/* TEXT */
.navLinkText {
  grid-area: 1 / 1;
  display: block;
  color: #161616;
  transform-origin: 0 0;

  transition:
    translate 0.75s var(--elastic-ease-out),
    rotate 0.5s var(--smooth-ease),
    opacity 0.2s ease-out,
    color 0.2s var(--color-ease);
}

/* DUPLICATE TEXT */
.navLinkTextWrap::after {
  content: attr(data-text);
  color: #ffffff;
  display: block;
  grid-area: 1 / 1;
  translate: 0 2em 0;
  rotate: 1 1 0.5 -30deg;
  transform-origin: top right;

  transition:
    translate 0.75s var(--elastic-ease-out),
    rotate 0.5s var(--smooth-ease),
    opacity 0.2s ease-out;
}

/* HOVER TEXT */
.navLinkRoot:hover .navLinkText {
  translate: 0 -2em 0;
  color: #ffffff;
}

.navLinkRoot:hover .navLinkTextWrap::after {
  translate: 0 0 0;
  rotate: 0 0 0 0deg;
}

/* TIMING CONTROL */
.navLinkRoot:hover .navLinkLayer--orange {
  transition-delay: 0.04s;
}

.navLinkRoot:hover .navLinkLayer--black {
  transition-delay: 0.08s;
}

.navLinkRoot:not(:hover) .navLinkLayer--orange {
  transition-delay: 0.08s;
}

.navLinkRoot:not(:hover) .navLinkLayer--black {
  transition-delay: 0.04s;
}

/** BUTTONS */
.btn {
  display: inline-block;
  text-decoration: none;
}

/* INNER WRAPPER */
.btnWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em 0.2em 0.2em 0.8em;

  font-weight: 600;
  font-size: 1.1em;
  color: #161616;

  transition: transform 0.45s cubic-bezier(0.34, 2.27, 0.64, 1);
  will-change: transform;
}

/* BACKGROUND */
.btnBg {
  position: absolute;
  inset: 0;
  /* background: #FA5424;
  border-radius: 0.75em; */
  z-index: -1;

  transition: border-radius 0.45s cubic-bezier(0.34, 1.37, 0.64, 1);
}

/* ICON WRAPPER */
.btnIcon {
  width: 2em;
  height: 2em;
  background: #fff;
  border-radius: 0.6em;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.45s cubic-bezier(0.34, 2.27, 0.64, 1);
}

/* ICON IMAGE */
.btnIconImg {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

/* HOVER EFFECT */
.btn:hover .btnWrapper {
  transform: rotate(-5deg) scale(1.02);
}

.btn:hover .btnBg {
  border-radius: 0.55em;
}

/* ICON SQUEEZE */
.btn:hover .btnIcon {
  transform: scale(0.95);
}